#cabeca {
  transform-origin: bottom;
  transform-box: fill-box;
  animation: cabeca 2s ease infinite alternate;
}

#perna-baixo {
  transform-origin: top;
  transform-box: fill-box;
}

#perna-baixo {
  animation: leg-bouncing 3s ease infinite alternate;
}
@keyframes leg-bouncing {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(20deg);
  }
}
@keyframes cabeca {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(15deg);
  }
}
#flecha {
  animation: flecha 5s ease infinite alternate;
  transform-origin: left;
  transform-box: fill-box;
}
@keyframes flecha {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(30deg);
  }
}
#dog,
#film,
#joystick,
#boina,
#plane,
#picture,
#music{
  transform-origin: center;
  transform-box: fill-box;
}
#dog {
  animation: dog 3.2s ease infinite alternate;
}
@keyframes dog {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  to {
    transform: translate(20px, 20px) rotate(10deg);
  }
}
#film {
  animation: rotate 10s ease infinite alternate;
}
#joystick {
  animation: rotate 15s ease infinite;
  animation-direction: alternate-reverse;
}
#boina {
  animation: float 4s ease infinite alternate;
}
#plane {
  animation: plane 6s ease infinite alternate;
}
#picture {
  animation: pictures 3s ease infinite alternate;
}
#music {
  animation: music 3s ease infinite alternate;
}
@keyframes music {
  from {
    transform: translate(0px, 40px) rotate(-10deg);
  }
  to {
    transform: translate(15px, -30px) rotate(30deg);
  }
}
@keyframes pictures {
  from {
    transform: translate(40px, 65px) rotate(30deg);
  }
  to {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes plane {
  from {
    transform: translate(-15px, 8px);
  }
  to {
    transform: translate(20px, -10px);
  }
}
@keyframes float {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(20px, 20px);
  }
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg) translate(0, 0);
  }
  to {
    transform: rotateZ(360deg) translate(15px, 5px);
  }
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes foot {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(15deg);
  }
}
#foot {
  animation: foot 1.5s ease infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}
